@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  opacity: 0.8;
  background-image: url("C:\software-projects\personal-projects\projects\wordle-clone\src\img\view.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wordle-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-container {
  flex: 0.5;
  width: 100%;
  align-self: flex-start;
}

.navbar-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wordle {
  flex: 7;
  width: 45%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex: 0.5;
  font-size: 50px;
  margin-bottom: 10px;
  font-family: "Yellowtail", cursive;
  color: chocolate;
  font-weight: bolder;
}

.board {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 4%;
}

.line {
  flex: 1;
  display: flex;
  gap: 4%;
}
.box {
  flex: 1;
  background-color: rgb(220, 214, 214);
  font-weight: bold;
  font-size: 2rem;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  background-color: green;
}

.found {
  background-color: cadetblue;
}

.fail {
  background-color: brown;
}

.form {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.form input {
  padding: 10px;
  border-radius: 20px;
  border: 0.5px solid slategrey;
  background-color: cadetblue;
  color: white;
  flex: 1;
}

.form button {
  color: black;
  font-weight: bold;
  padding: 10px;
  background-color: burlywood;
  font-size: 1.5rem;
  border-radius: 20px;
}

.footer {
  flex: 0.3;
}

.gameLost {
  text-align: center;
  margin: 0 5px;
  height: 60%;
  position: absolute;
  background-color: red;
  border: 4px solid white;
  border-radius: 30px;
  color: white;
  opacity: 1;
}

.gameLost h1,
.gameLost p {
  font-size: 30px;
}
.gameLost span {
  font-size: 25px;
}

.gameLost button {
  margin-top: 20px;
  font-size: 25px;
}
.gameWon {
  text-align: center;
  height: 40%;

  padding: 100px;
  position: absolute;
  background-color: green;
  border: 4px solid white;
  border-radius: 30px;
  color: white;
  opacity: 1;
}

.gameWon h1 {
  color: #ababab;
}

.gameWon h1,
.gameWon p {
  font-size: 30px;
}

.gameWon h1,
.header,
.gameLost h1 {
  font-weight: 700;
}

.gameWon button {
  font-size: 25px;
}

/****************************************** HOWTOPLAY ******************************************/

.howToPlay {
  text-align: center;
  height: 60%;
  padding: 50px;
  position: absolute;
  background-color: brown;
  border: 4px solid white;
  border-radius: 30px;
  color: white;
  opacity: 1;
}

.howToPlayLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  text-align: left;
}
.howToPlayLine span {
  font-size: 17px;
}

.howToPlay h1 {
  color: #ababab;
  color: cornflowerblue;
}

.howToPlay button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: blueviolet;
  color: white;
}
.howToPlayBox {
  width: 25%;
  height: 50px;
  display: inline-block;
  margin-left: 20px;
}
.navbar-nav span {
  cursor: pointer;
}

@media (max-width: 768px) {
  .wordle {
    height: 90vh;
    width: 90vw;
  }

  .gameLost {
    width: 70% !important;
  }

  .gameWon {
    width: 90% !important;
  }
  .gameWon h1,
  .gameWon p {
    font-size: 25px;
  }

  .gameWon button {
    font-size: 20px;
  }
}
